.help-block{
    margin-bottom: 0px;
    font-size: 12px;
    margin-top: 0px;
}

p,form{
    margin-bottom: 0px;
}

.modal-header{
	background: #1e6cb6;
	color:white;
}

.modal-header .close {

    color: white;
}

.control2{
	font-size: 14px;
	padding-top: 5px;
	padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
	height: 27px;
	width:100%;
	background-color: #d9f2fa;
	text-align: left
}

.dropdown-menu>.disabled>a, .dropdown-menu>.disabled>a:focus, .dropdown-menu>.disabled>a:hover{
	color: #fff5f5;
	background: #bfb9b9;
}

.dataTables_empty{
	text-align: center;
}

.btn-small{

    padding-left: 4px;
    padding-right: 4px;
	float:left;
}

.btn-small-vertical{
    padding-top: 4px;
    padding-bottom: 4px;
}

ul.ui-autocomplete {
    z-index: 1100;
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 20px;
}

#journalList a{
    cursor: pointer;
}

#journalListAll a{
    cursor: pointer;
}

#journalView td{
    padding: 0px 2px 0px;
    
}

#journalView input{
    border: 0px;
}


#journal td{
    padding: 0px;
}

#journal input{
    border: 0px;
}